@media (max-width: 600px) {
    .main {
        position: fixed;
        width: 400px; /*要素の横幅を固定*/
        height: 100vh; /*要素の縦幅を固定*/
        inset: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white; /*背景色*/
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.days {
    position: relative;
    display: flex;               /* フレックスコンテナにする */
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    font-size: 20px;
    width: 400px;
    height: 60px;
    background-color: white;
    border-bottom: 3px dashed green;

}

.summary {
    position: relative;
    display: flex;               /* フレックスコンテナにする */
    width: 400px;
    height: 50px;
    background-color: white;
}


.text_title {
    position: relative;
    display: flex;               /* フレックスコンテナにする */
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: white;
    font-size: 25px;

}

.Task {
    margin: 1px 5px 5px 5px;
    position: relative;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    width: 195px;
    height: 45px;
    background-color: white;
    font-size: 25px;
    border: 2px solid darkseagreen;
    border-radius: 10px;
}

.challenge_line {
    position: relative;
    display: flex;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    width: 195px;
    height: 23px;
    background-color: white;
    border-radius: 10px;
    font-size: 13px;
}

.consecutive_achievement_record {
    position: relative;
    display: flex;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    width: 195px;
    height: 22px;
    background-color: white;
    border-radius: 10px;
    font-size: 13px;
}

.data {
    position: relative; /*自分を覆ってる要素内の領域ルールに従う状態*/
    width: 380px;
    height: 70px;
    font-size: 30px;
    display: flex;               /* フレックスコンテナにする */
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    background-color: white;
}

.daily_activity_summary {
    position: absolute;
    display: flex; /* 横方向中央 */
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    gap: 10px;
    background-color: white;
    top: 200px;
    max-width: 25rem;
    --slide-height: 20rem;
    --slide-spacing: 1rem;
    --slide-size: 400px;
}

.daily_activity_summary_box {
    position: relative;
    display: flex; /* 横方向中央 */
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 150px;
    background-color: white;
}

.embla_viewport {
    overflow: hidden;
    width: 100%;
    margin: 10px;
}

.embla_container {
    display: flex;
    gap: 10px;
}

.range {
    position: relative;
    display: flex;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 130px;
    background-color: darkseagreen;
    border-radius: 20px;
    min-width: 380px; /* スライドの横幅 */
    flex: 0 0 auto;
}

.range_title {
    position: relative;
    font-size: 30px;
    color: white;
    right: 130px;
    margin: 0;
}

.range_data {
    position: relative;
    display: flex;
    width: 350px;
    height: 70px;
}

.range_img {
    position: relative;
    width: 140px;
    height: 70px;
    display: flex;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    flex-direction: column;

}

.range_imgrun {
    position: relative;
    width: 70px;
    height: 45px;
    top: 5px;

}

.range_km {
    position: relative;
    width: 210px;
    height: 70px;
    display: flex;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    color: white;
}

.calorie {
    position: relative;
    display: flex;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 130px;
    background-color: darkseagreen;
    border-radius: 20px;
    min-width: 380px; /* スライドの横幅 */
    flex: 0 0 auto;
}

.calorie_title {
    position: relative;
    font-size: 30px;
    color: white;
    right: 100px;
    margin: 0;
}

.calorie_data {
    position: relative;
    display: flex;
    width: 350px;
    height: 70px;
}

.calorie_img {
    position: relative;
    width: 140px;
    height: 70px;
    display: flex;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    flex-direction: column;
}

.calorie_imgfiea {
    position: relative;
    width: 40px;
    height: 55px;
    top: 5px;
}

.calorie_kcal {
    position: relative;
    width: 210px;
    height: 70px;
    display: flex;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    right: 10px;
    color: white;
}

.time {
    position: relative;
    display: flex;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 130px;
    background-color: darkseagreen;
    border-radius: 20px;
    min-width: 380px; /* スライドの横幅 */
    flex: 0 0 auto;
}

.time_title {
    position: relative;
    font-size: 30px;
    color: white;
    right: 105px;
    margin: 0;
}

.time_data {
    position: relative;
    display: flex;
    width: 350px;
    height: 70px;
}

.time_img {
    position: relative;
    width: 140px;
    height: 70px;
    display: flex;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    flex-direction: column;
}

.time_imgtimer {
    position: relative;
    width: 50px;
    height: 55px;
    top: 5px;
}

.time_timer {
    position: relative;
    width: 210px;
    height: 70px;
    display: flex;
    justify-content: center;     /* 横方向中央 */
    align-items: center;
    flex-direction: column;
    font-size: 50px;

    color: white;
}

.ranking {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 390px;
    height: 455px;
    background-color: white;
}

.ranking_line {
    position: relative;
    width: 380px;
    height: 350px;
    background-color: white;
    border: 5px solid darkseagreen;
    border-radius: 10px;
    bottom: 40px;
}

.ranking_title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 50px;
    border-bottom: 5px solid darkseagreen;
    font-size: 20px;
}

.ranking_list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 230px;
}

.ranking_you {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 60px;
    border-top: 5px solid darkseagreen;
    font-size: 20px;
}

.ranking_now {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 80px;
}

.nav {
    position: absolute; /* relative → absolute */
    bottom: -10px;       /* 下からの距離を固定 */
    width: 400px;
    height: 100px;
    background-color: mediumseagreen;
    display: flex;
    justify-content: space-around;
}

.button01{
    width: 110px;
    height: 90px;
    position: relative;
    margin-left: 2px;
    background-color: transparent;
    border: none;
}
.home_img03 {
    position: relative;
    width: 50px;
    height: 50px;
}

.button02{
    width: 110px;
    height: 90px;
    position: relative;
    margin-left: 3px;
    margin-right: 3px;
    background-color: transparent;
    border: none;
}

.home_img02 {
    position: relative;
    width: 50px;
    height: 50px;
}
