.body{
    width: 100%;
    height: 100%;
    display: flex; /*フレックスボックスレイアウトの使用*/
    justify-content: center; /*小要素を左右の中央に配置*/
    align-items: center; /*小要素を上下の中央に配置*/
}

.main {
    position: relative;
    width: 400px; /*要素の横幅を固定*/
    height: 700px; /*要素の縦幅を固定*/
    background-color: gray; /*背景色*/
    display: flex; /*フレックスボックスレイアウトの使用*/
    justify-content: center; /*小要素を左右の中央に配置*/
    align-items: center; /*小要素を上下の中央に配置*/
}
@media (max-width: 600px) {
    .main {
        width: 400px; /*要素の横幅を固定*/
        height: 700px; /*要素の縦幅を固定*/
        background-color: gray; /*背景色*/
        display: flex; /*フレックスボックスレイアウトの使用*/
        justify-content: center; /*小要素を左右の中央に配置*/
        align-items: center; /*小要素を上下の中央に配置*/
    }
}

.text {
    font-size: 40px; /*文字サイズを設定*/
    position: relative; /*自分を覆ってる要素内の領域ルールに従う状態*/
}